<div class="root" id="root">
  <div class="header flex-container justify-content-between">
    <div class="flex-container align-items-center">
      <img class="logo" alt="logo" style="height: 29px;" src="../../assets/images/icon_logo.png" />
      <h3 style="padding-left: 15px;">右上角公共库</h3>
    </div>
  </div>
  <div class="main ps" [perfectScrollbar]="scrollConfig" #mainBar="ngxPerfectScrollbar">
    <div class="left-menu font-size-14" #leftMenu>
      <ul nz-menu>
        <li nz-menu-group nzTitle="组件">
          <ul>
            <li routerLink="/components/address" [nzSelected]="rl.isActive" routerLinkActive #rl="routerLinkActive" nz-menu-item>
              地址联动
            </li>
            <li routerLink="/components/dialog" [nzSelected]="dialog.isActive" routerLinkActive #dialog="routerLinkActive" nz-menu-item>
              对话框
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="content">
      <router-outlet #routerOutlet="outlet"></router-outlet>
    </div>
    <div class="footer">
      copyright@youshangjiao.com.cn
    </div>
  </div>
</div>
